.ipynb_checkpoints/
.vscode/
cache/
notebooks/lib/__pycache__
notebooks/cache
__pycache__
notebooks/lib/disitlbert_embedder
desktop.ini

# data
Data/
# models
models/
# /papers/notes.md
images/ntrp1_batchsize8.png
images/cm_distilbert_original.png
#venv
venv/