.ipynb_checkpoints/
.vscode/
cache/
notebooks/lib/__pycache__
notebooks/cache
__pycache__
notebooks/lib/disitlbert_embedder
desktop.ini

# data
Data/
# models
models/
# /papers/notes.md
/app/images/ntrp1_batchsize8.png